@tailwind base;
@tailwind components;
@tailwind utilities;



.carousel-slide {
  animation: slideOut 50s infinite forwards linear;
}
.carousel-slide2 {
  animation: slideOut2 50s infinite forwards linear;
}

.active {
  opacity: 1;
}

.carousel-item {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel-item.active {
  opacity: 1;
}


.grad-to-right {
  background-image: linear-gradient(to right top, #d0bf91, #a3876d, #6f564d, #392c2c, #000000);
}
